<div class="pb-5">

    <div class="flex justify-center flex-wrap gap-5">
        @for (item of recipes; track 1) {
        <app-recipe-card toggle="true" [recipe]="item"></app-recipe-card>
        }
        @empty {
        <div>
            No Recipe Exist
        </div>
        }


        <div class="fixed buttom-10 right-10">
            <button (click)="handleOpenCreateRecipeForm()" mat-fab color="primary">
                <mat-icon>Add</mat-icon>
            </button>
        </div>
    </div>
</div>